:root {
    --bkgBlueLight: rgba(131, 181, 233, 1);
    --bkgBlueDark: rgba(85, 116, 148, 1);
    --txtWhiteDark: rgb(253, 253, 253);
    --sun: rgb(238, 232, 124);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5;
    /* transition: background-color 900ms ease-in-out; */
}


/****************** 
    Dark Mode 
*******************/
.darkmode {
    background-color: #353D44;
    color: var(--txtWhiteDark);
}
.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4 {
    color: var(--txtWhiteDark);
}
.darkmode a {
    color: var(--txtWhiteDark);
}
.darkmode a:visited {
    color: var(--txtWhiteDark);
}
.darkmode .project-source a {
    background-color: var(--bkgBlueDark);
}
.darkmode .linkedin svg,
.darkmode .email svg,
.darkmode .twitter svg,
.darkmode .instagram svg {
    fill: var(--txtWhiteDark);
}
.darkmode header {
    background-color: var(--bkgBlueDark);
}
.darkmode .project-pic,
.darkmode .design-pic {
    filter: brightness(0.90);
}
.darkmode .profile-photo {
    filter: grayscale(30%);
}

.darkmode header svg {
    color: var(--sun);
    fill: var(--sun);
    cursor: pointer;
}
/****************** 
    Dark Mode End
*******************/


/****************** 
    Navigation
*******************/
* {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    padding: 1rem .4rem;
    background-color: var(--bkgBlueLight);
    text-align: center;
    position: fixed;
    width: 100%;
    padding-right: 1rem;
    z-index: 999;
    /* transition: background-color 900ms ease-in-out; */
}
#jr {
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
}
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--bkgBlueLight);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    margin: 2.6rem 1rem;
}
nav a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    /* transition: opacity 150ms ease-out; */
    display: block;
}
nav a,
header a:visited,
nav a:visited {
    color: white;
}


.nav-toggle {
    display: none;
}

.nav-toggle-lable {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-lable span,
.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
    display: block;
    background: white;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
    content: '';
    position: absolute;
}
.nav-toggle-lable span::before {
    bottom: 7px;
}
.nav-toggle-lable span::after {
    top: 7px;
}

.nav-toggle:checked ~ nav {
    display: block;
    transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
}

#dev {
    scroll-margin-top: 6rem;
}

#back-to-top {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}


/****************** 
    Navigation End
*******************/

/****************** 
    General Items
*******************/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin: .6rem 0 .2rem 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}

h1 a,
h1 a:visited {
    color: white;
}
.underlined {
    text-decoration: underline;
    text-decoration-color: rgb(134, 189, 236);
    text-decoration-thickness: 2px;
    color: black;
  }
  a:hover {
    text-decoration-color: rgb(223, 138, 98);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }



header h1 {
    font-size: 2rem;
    line-height: 1.5rem;
    color: white;
    text-align: center;
}

/* Moon SVG */
header svg {
    color: #353D44;
    fill: var(--txtWhiteDark);
    cursor: pointer;
}

main {
    padding: 6.25rem .6rem;
    margin-bottom: 1.4rem;
}

.intro {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 1.8rem;
}

.profile-photo {
    border-radius: 50%;
    max-width: 10rem;
}

.section-heading {
      margin: 2rem 0;
  }
  
.section-heading,
.project-name {
    text-align: left;
}

.projects {
    margin-top: 4rem;
  }

.project {
    margin: 1rem auto;
    border-bottom: 1px dashed rgb(194, 211, 229);
  }

.project h3 {
    padding: .4rem .4rem .4rem .2rem;
  }

.project-pic {
    width: 100%;
    border: 2px solid rgb(194, 211, 229);
    border-radius: 5px;
    display: block;
  }

figcaption {
    font-size: .9rem;
    text-align: center;
  }

.project-source {
    padding: .4rem;
    margin: 1.4rem 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
.project-source a {
    color: white;
    font-weight: 700;
    background-color: rgb(134, 189, 236);
    border-radius: 5px;
    padding: .4rem .6rem;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    gap: .5em;
  }
.project-source svg {
    margin: 0;
}
.project-source a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(93, 132, 166);
  }

.project-source {
    text-align: center;
  }

.contact h2,
.contact h3 {
    text-align: center;
  }

.contact-info {
    margin: 1rem auto;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  
.contact-info li {
    padding: .4rem;
  }

.contact-info a {
    text-decoration: none;
  }

ul {
    margin: 0;
  }

svg {
    margin: 0 auto;
  }

.other-work {
    margin-bottom: 1.2rem;
    text-align: center;
  }
.other-work h3,
.other-work p {
    margin: .4rem 0;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem;
}

textarea {
    border: 1px solid gray;
    border-radius: 5px;
    padding: .4rem;
}

.button-send {
	background-color: rgb(205, 227, 250);
	color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(114, 126, 138);
}

footer {
    margin-top: 1rem;
    text-align: center;
}
footer h3 {
    padding: 1rem;
}
footer p {
    font-size: .8rem;
}

br {
    margin: 1rem 0;
}

.project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "row1"
    "row2"
    "row3"
    "row4"
    ;
}
.project-name {
    grid-area: row1;
}
.project-description {
    grid-area: row2;
    margin: .6rem;
    text-align: left;
}
.project-source {
    grid-area: row4;
    align-self: end;
    
}
.project-preview {
    grid-area: row3;
    place-self: center;
    margin: 0 .4rem 1.4rem .4rem;
}

.photography {
    margin-top: 1.4rem;
}


/****************** 
    About Page
*******************/
.about {
    /* padding: 0 .4rem; */
}
.about h1 {
    margin-bottom: .6rem;
}
.about p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.me2 {
    max-width: 95vw;
}

/****************** 
About Page End
*******************/


@media (min-width: 770px) {
    
    .nav-toggle-lable {
        display: none;
    }

    nav {
        all: unset;
        grid-column: 2;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav a {
        opacity: 1;
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: none;
    }
    nav li {
        margin: 0 1rem;
    }

    header {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr;
        place-items: center;
    }
    header h1 {
        grid-column: 1;
        grid-row: 1;
        font-size: 2rem;
    }
    header #darkmode {
        grid-column: 3;
    }

    .projects h3 {
        font-size: 1.6rem;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "left-1 right"
        "left-2 right"
        "left-3 right"
        ;
    }
    .project-name {
        grid-area: left-1;
        text-align: left;
    }
    .project-description {
        grid-area: left-2;
        text-align: left;
    }
    .project-source {
        grid-area: left-3;
        align-self: end;
        
    }
    .project-preview {
        grid-area: right;
        place-self: center;
        margin-left: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .intro {
        display: grid;
        text-align: left;
        grid-template-columns: 25% 1fr;
    }
    .intro img {
        grid-row: 1 / span 2;
    }
    .profile-photo {
        max-width: 80%;
    }    
    .intro h1 {
        font-size: 3rem;
        text-align: left;
    }
    .intro p {
        font-size: 1.2rem;
    }
    .section-heading {
        font-size: 1.8rem;
        text-align: left;
        margin-bottom: 0;
    }
    .project-name {
        font-size: 1.4rem;
    }

    .other-work {
        text-align: center;
        line-height: 1.7;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .other-work h2 {
        grid-column: 1 / span 2;
    }
    .other-work figure img {
        display: inline-block;
    }
    .youtube,
    .photography {
        display: grid;
        grid-template-rows: 10% 1fr 60%;
    }
    .photography {
        margin-top: 0;
    }
    
    .contact {
        margin-top: 4rem;
    }
    .contact h2 {
        grid-column: 1 / span 2;
    }
    .contact-info {
        margin: 1rem auto;
        list-style: none;
        display: flex;
        justify-content: space-between;
      }    
    .project-pic:hover {
        opacity: .8;
    }
}

@media (min-width: 850px) {
    nav a {
        font-size: 1.4rem;
    }

}

@media (min-width: 1024px) {
    main {
        max-width: 1024px;
        margin: 0 auto;
    }
    .intro {
        /* border: 1px solid rgba(134, 188, 236, 0.368); */
        /* border-radius: 10px; */
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    .intro img {
        max-width: 20%;
    }
    .intro p {
        font-size: 2rem;
        line-height: 1.8;
        /* grid-row: 1 / 3; */
    }
    .intro h2 {
        font-size: 3.4rem;
    }
    nav a {
        font-size: 1.8rem;
    }

    
    .design-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.2rem;
        margin: 2rem 0;
    }
    .design-projects h2 {
        grid-column: 1 / 4;
    }
    .blank {
        opacity: .5;
    }

/****************** 
    About Page
*******************/
    .about {
        margin-top: 3rem;
        padding: 0 6rem 0 6.4rem;
    }
    .about h1 {
        margin-bottom: 1rem;
    }
    .about p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }
    .me2 {
        max-width: 300px;
        shape-outside: border-box;
        float: left;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
/****************** 
    About Page End
*******************/
}

